.contenedor{
    border: 1px solid black;
    height: 450px;
    width:100%;
    position: relative; 
}

.caja1{
    width: 50%;
    height: 200px;
    background-color: rgb(43, 0, 255);
    border: 2px solid gray;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
    max-width: 200px;
    max-height: 200px;
}


.caja2{
    background-color: bisque;
    width: 20%;
    height: 100px;
    float: left;
    max-width: 100px;
    max-height: 100px;
}

.caja3{
    background-color: red;
    border: 1px double black;
    width: 20%;
    height: 100px;
    float: left;
    max-width: 100px;
    max-height: 100px;
}

#hola3{
    clear: left;
}

.contenedor-hijo{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#ej3{
    direction: rtl;
}
#hola7{
    float: right;
    margin-left: 10px;
}

#hola10{
    float: right;
    margin-left: 10px;
}

#hola11{
    clear: right;
    margin-bottom: 10px;
}

#hola12{
    clear: left;
    float: right;
    direction: ltr;
}

#hola13{
    float: right;
}
#hola14{
    margin: 10px 10px 10px 10px;
}

#hola15{
    clear: left;
    clear: both;
    float: right;
    direction: ltr;
}

#ej6{
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
    align-items: center;
}
#hola16 {
    align-self: flex-end;
}
#hola17 {
    align-self: center;
}
#hola18 {
    align-self: flex-start;
}