body {
    display:flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    --color-principal: #006400;
    --color-pastel: #A8E6CF;
    --color-texto-oscuro: #332323;
    --color-acento: #75f46e;
}

.bloque {
    border: solid 1px var(--color-principal);
    padding: 15px;
}
div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    article{
        margin: 10px;
        padding: 1em;
        border-radius: 10px;
        box-shadow: 5px 5px var(--color-principal);
        background-color: var(--color-acento);
    }
}

header{
    background-color: var(--color-principal);
    color: white;
    grid-area: header;
    display: flex;
    align-items: end;
    justify-content: space-between;


}

#layout{
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header header"
        "aside main main"
        "footer footer footer"
        ;
    max-width: 1200px;
    margin: 0px auto;
    min-height: 100vh;
}

header{grid-area:header;}
aside{grid-area:aside;}
main{grid-area:main;}
footer{grid-area:footer;}

footer.bloque {
    background-color: var(--color-principal);
}

aside.bloque {
    background-color: var(--color-pastel);
}

header{ 
ol {
    list-style-type:none;
    padding: 0;
    li{
    display: inline-block;
    position: relative;
    }
}a{
    text-decoration: none;
    background-color: var(--color-texto-oscuro);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}}

nav ol li ol{
    position: absolute;
    min-width: 150px;
    display: none;
    li{
        margin: 7px 0;
    }
}
nav ol li:hover > ol{
        display:block;
        margin: 10px 0;
    }
a:hover{
    background-color: var(--color-pastel);
    color: var(--color-principal);
    transition: background-color 1s;
}

@media (max-width:800px){
    #layout{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header"
        "nav nav nav"
        "main main main"
        "aside aside aside"
        "footer footer footer"
        ;
    }
    header{
        flex-direction: column;
        align-items: start;
    }
    div{
        display: flex;
        flex-direction: column;
    }
}
