name: Despliegue FTP a AwardSpace
on:
  push:
    branches:
      - main
jobs:
  web-deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
    - name: Obtener el código más reciente
      uses: actions/checkout@v4
    
    - name: Sincronizar archivos vía FTP
      uses: SamKirkland/FTP-Deploy-Action@v4.3.4
      with:
        host: ${{ secrets.FTP_HOST }}
        username: ${{ secrets.FTP_USERNAME }}
        password: ${{ secrets.FTP_PASSWORD }}
        port: ${{ secrets.FTP_PORT }}
        local_dir: ./           # Carpeta local en tu repo
        remote_dir: /public_html/  # Carpeta en AwardSpace
        rm: true 
